// Config -----------------------------------
@syntax-hue:          220;

// Monochrome -----------------------------------
@mono-1:	#a8b5d1;
@mono-2:	#7992b4;
@mono-3:	#506686;

// Colors -----------------------------------
@hue-1: #4ff2f8;  // <- cyan
@hue-2: #82aaff;  // <- blue
@hue-3: #c792ea;  // <- purple
@hue-4: #6af699;  // <- green
@hue-5: #ff5874;  // <- red
@hue-6: #ffbf7a;  // <- orange
@hue-7: #fffa9e;  // <- yellow

// Base colors -----------------------------------
@syntax-fg:     @mono-1;
@syntax-bg:     hsl(@syntax-hue, 24%, 17%);
@syntax-gutter: darken(@syntax-fg, 26%);
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-accent: hsl(@syntax-hue, 100%, 66%);